.main-contents {
    // margin-bottom: 20px;
    background-color: $light-gray;
    .main-con {
        display: block;
        padding-top: 75px;
        .new-articles {
            flex: 65%;
            margin-right: 15px;
            .title {
                text-align: center;
                font-family: 'Noto Sans JP', sans-serif;
            }
            .cards {
                display: block;
                // flex-wrap: wrap;
                .card {
                    // flex: 50%;
                    margin-bottom: 10px;
                    position: relative;
                    border-radius: 0;
                    border: none;
                    padding: 10px 20px;
                    .card-link {
                        display: block;
                        position: absolute;
                        z-index: 2;
                        top: 0;
                        left: 0;
                        width: 100%;
                        height: 100%;
                    }
                    .category {
                        position: absolute;
                        top: 0;
                        right: 0;
                        z-index: 3;
                        font-size: 0.7rem;
                        margin-top: 5px;
                        margin-right: 5px;
                        .btn-category {
                            background-color: $white-blue;
                            transition: 0.5s;
                            color: white;
                        }
                        .btn-category:hover {
                            background-color: $dark-gray;
                        }
                    }
                    .title {
                        text-align: left;
                        font-weight: bold;
                        transition: 0.5s;
                    }
                    .time {
                        color: $super-dark-gray;
                    }
                    .tag-buf {
                        display: block;
                        height: 1.5rem;
                        width: 100%;
                    }
                    .tags {
                        z-index: 3;
                        display: inline;
                        position: absolute;
                        margin-left: 20px;
                        margin-bottom: 10px;
                        bottom: 0;
                        left: 0;
                    }
                    .tag {
                        z-index: 3;
                        // background-color: $dark-gray;
                        // font-size: 0.5rem;
                        color: black;
                        // padding: 0 10px;
                        margin: 0 7px;
                        // margin: 0 2px;
                    }
                }
                .card:hover {
                    .title {
                        opacity: 0.7;
                    }
                }
            }
            .cat-header {
                background-color: white;
                margin-bottom: 15px;
                padding: 10px;
                .sub-title {
                    color: $super-dark-gray;
                    font-size: 0.9rem;
                    text-align: center;
                }
                .title {
                    h2 {
                        font-size: 1.3rem;
                    }
                }
            }
            .main-article {
                background-color: white;
                padding: 15px;
                margin-bottom: 15px;
                .article-image {
                    img {
                        display: block;
                        width: 100%;
                        height: auto;
                    }
                }
                .time {
                    color: $super-dark-gray;
                    padding-top: 10px;
                }
                .article-title {
                    font-size: 1.4rem;
                    font-family: 'Noto Sans JP', sans-serif;
                    margin-bottom: 15px;
                }
                .category {
                    display: flex;
                    justify-content: right;
                    margin-bottom: 15px;
                    a {
                        text-decoration: none;
                    }
                    .btn-category {
                        background-color: $white-blue;
                        font-size: 0.7rem;
                        transition: 0.5s;
                        color: white;
                    }
                    .btn-category:hover {
                        background-color: $dark-gray;
                    }
                }
                h2 {
                    border-left: 5px solid $dark-blue;
                    padding: 5px 0;
                    padding-left: 10px;
                    margin-top: 2rem;
                    font-size: 1.3rem;
                }
                h3 {
                    font-size: 1.2rem;
                    border-bottom: 3px solid $super-dark-gray;
                    padding-bottom: 5px;
                    position: relative;
                }
                h3::before {
                    position: absolute;
                    width: 200px;
                    height: 3px;
                    left: 0;
                    bottom: -3px;
                    background-color: $dark-blue;
                    content: "";
                }
                p {
                    font-size: 1rem;
                    margin-bottom: 0.7rem;
                    line-height: 1.7rem;
                    font-weight: lighter;
                }
                strong {
                    font-weight: bold;
                }
                ul {
                    list-style:disc;
                    margin-bottom: 15px;
                    li {
                        margin-left: 20px;
                    }
                }
                a {
                    display: inline;
                    overflow-wrap: break-word;
                    text-decoration: underline;
                }
                .has-background {
                    padding: 0;
                }
                .has-medium-font-size {
                    font-size: 1rem !important;
                }
                .has-small-font-size {
                    font-size: 0.8rem !important;
                }
                pre {
                    position: relative;
                    code {
                        overflow-x: scroll;
                        min-width: 100%;
                        // white-space:nowrap;
                        padding: 10px;
                        ol {
                            background-color: #1d1f21;
                        }
                    }
                }
                .tags {
                    margin-bottom: 10px;
                    .tag {
                        z-index: 3;
                        // background-color: $dark-gray;
                        // font-size: 0.5rem;
                        color: black;
                        // padding: 0 10px;
                        margin: 0 7px;
                        // margin: 0 2px;
                    }
                }
                .cards {
                    padding: 10px;
                    .card {
                        border: 2px solid $dark-gray;
                        margin-bottom: 10px;
                        p {
                            margin: 0;
                        }
                        a {
                            display: inline;
                        }
                    }
                    .next {
                        text-align: right;
                    }
                }
                form {
                    padding: 10px;
                    span {
                        width: 100%;
                        display: block;
                        input {
                            width: 100%;
                        }
                    }
                    .wpcf7-submit {
                        display: inline;
                        width: 130px;
                        border: none;
                        background-color: $white-blue;
                        color: white;
                    }
                }

                
                .main-desc {
                    margin-bottom: 10px;
                }
                .index {
                    background-color: $page-bg-color;
                    border-radius: 10px;
                    padding: 20px;
                    width: 270px;
                    margin-bottom: 10px;
                    ul {
                        list-style:disc;
                        padding-left: 10px;
                    }
                }
                .desc-title {
                    .title-line {
                        position: relative;
                        .under-line {
                            width: 100%;
                            border-bottom: 5px solid $page-bg-color;
                        }
                        .main-line {
                            position: absolute;
                            left: 0;
                            top: 0;
                            width: 30%;
                            border-bottom: 5px solid $white-blue;
                        }
                    }
                }
            }
            .related-articles {
                .title {
                    text-align: left;
                    font-family: 'Noto Sans JP', sans-serif;
                    color: white;
                    background-color: $dark-blue;
                    padding: 10px;
                    h2 {
                        font-size: 1rem;
                        margin: 0;
                    }
                }
                .cards {
                    .card {
                        margin-bottom: 10px;
                        .title {
                            text-align: left;
                            font-weight: bold;
                            background-color: white;
                            color: black;
                            transition: 0.5s;
                            padding: 0;
                        }
                    }
                    a {
                        flex: 45%;
                        .card {
                            display: flex;
                            flex-direction: row;
                            margin: 0;
                            margin-bottom: 5px;
                            .card-image  {
                                // background-image: url(../img/test.jpg);
                                // background-size:cover;
                                // background-position: center;
                                flex: 4;
                                img {
                                    display: block;
                                    height: auto;
                                    width: 100%;
                                }
                            }
                            .card-desc {
                                flex: 6;
                            }
                        }
                    }
                }
                a:hover {
                    box-shadow: 5px 5px $page-bg-color;
                }
            }
            .pagination {
                display: flex;
                justify-content: center;
                align-items: center;
                .page-item {
                    padding: 0 3px;
                }
                .page-arrow-wrap {
                    .page-ellipse {
                        width: 40px;
                        height: 30px;
                        border-radius: 20px;
                        // border: solid 1px $dark-blue;
                        background-color: $dark-gray;
                        position: relative;
                        .page-arrow {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                .pagenum {
                    .page-circle {
                        width: 30px;
                        height: 30px;
                        border-radius: 50%;
                        background-color: $dark-gray;
                        // border: 1px solid $dark-blue;
                        position: relative;
                        .page-number {
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                    }
                }
                .current {
                    .page-circle {
                        background-color: $white-blue;
                    }
                }
            }
        }
        .sidebar {
            flex: 30%;
            // padding-top: 10px;
            a {
                text-decoration: none;
            }
            .searching {
                background-color: white;
                margin-bottom: 10px;
                padding: 15px;
                form {
                    display: flex;
                    input {
                        flex: 70%;
                    }
                    button {
                        flex: 25%;
                        border-color: $white-blue;
                        background-color: $white-blue;
                        color: white;
                        margin-left: 10px;
                    }
                }
            }
            .popular-article {
                margin-bottom: 10px;
                .title {
                    font-family: 'Noto Sans JP', sans-serif;
                    color: white;
                    background-color: $dark-blue;
                    padding: 10px;
                    h2 {
                        font-size: 1rem;
                        margin: 0;
                    }
                    // text-align: center;
                }
                .cards {
                    padding: 10px;
                    background-color: white;
                    .card {
                        border: none;
                        margin-bottom: 5px;
                        position: relative;
                        .category {
                            position: absolute;
                            top: 0;
                            right: 0;
                            z-index: 3;
                            font-size: 0.5rem;
                            margin-top: 5px;
                            .btn-category {
                                background-color: $white-blue;
                                transition: 0.5s;
                            }
                            .btn-category:hover {
                                background-color: $dark-gray;
                            }
                        }
                        .card-link {
                            display: block;
                            position: absolute;
                            z-index: 2;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                        }
                        .time {
                            color: #767171;
                        }
                        .p-title {
                            background-color: white;
                            color: black;
                            margin-top: 5px;
                            transition: 0.5s;
                        }

                        // a {
                        //     display: flex;
                        //     flex-direction: row;
                        //     .card-image {
                        //         flex: 30%;
                        //         width: 100%;
                        //         img {
                        //             display: block;
                        //             width: 100%;
                        //             height: auto;
                        //         }
                        //     }
                        //     .card-desc-title {
                        //         flex: 70%;
                        //         display: flex;
                        //         align-items: center;
                        //         .card-desc-inner {
                        //             margin-left: 5px;
                        //         }
                        //     }
                        // }
                    }
                    .card:hover {
                        .p-title {
                            opacity: 0.7;
                        }
                    }
                }
            }
            .all-tags {
                margin-bottom: 10px;
                .title {
                    font-family: 'Noto Sans JP', sans-serif;
                    color: white;
                    background-color: $dark-blue;
                    padding: 10px;
                    h2 {
                        font-size: 1rem;
                        margin: 0;
                    }
                    // text-align: center;
                }
                .content {
                    padding: 10px;
                    background-color: white;
                    .tag {
                        background-color: $dark-gray;
                        display: inline-block;
                        border-radius: 5px;
                        padding: 2px 5px;
                        margin-right: 5px;
                        transition: 0.5s;
                        margin-bottom: 5px;
                        a {
                            color: black;
                        }
                    }
                    .tag:hover {
                        background-color: $white-blue;
                        color: white;
                        a {
                            color: white;
                        }
                    }
                }
            }
        }
    }
@media (min-width: 426px) {
    .main-con {
        padding-bottom: 20px;
        .new-articles {
            .related-articles {
                .cards {
                    // display: flex;
                    // a {
                    //     margin-right: 5px;
                    //     margin-bottom: 5px;
                    //     .card {
                    //         margin: 0;
                    //     }
                    // }
                }
            }
            .pagination {
                .page-arrow-wrap {
                    .page-ellipse {
                        width: 75px;
                        height: 50px;
                        border-radius: 25px;
                    }
                }
                .pagenum {
                    .page-circle {
                        width: 50px;
                        height: 50px;
                    }
                }
            }
        }
    }
}
@media (min-width: 768px) {
    .main-con {
        display: flex;
    }
}
@media (min-width: 1024px) {
    .main-con {
        .new-articles {
            .cards {
                // display: flex;
                .card {
                    // flex: 0 0 45%;
                    // margin-right: 10px;
                    // margin-left: 10px;
                }
            }
        }
    }
}
}